<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan176.webPersonal.business.mapper.TbAlbumMapper">
  <resultMap id="BaseResultMap" type="com.pan176.webPersonal.business.domain.TbAlbum">
    <!--@mbg.generated generated on Mon Mar 23 14:03:46 CST 2020.-->
    <!--@Table tb_album-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 23 14:03:46 CST 2020.-->
    id, `path`, `describe`
  </sql>
</mapper>