<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan176.webPersonal.business.mapper.TbRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.pan176.webPersonal.business.domain.TbRolePermission">
    <!--@mbg.generated generated on Fri Mar 20 11:00:52 CST 2020.-->
    <!--@Table tb_role_permission-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Mar 20 11:00:52 CST 2020.-->
    id, role_id, permission_id
  </sql>
</mapper>